In [76]:
import pandas as pd
from pathlib import Path
%matplotlib inline

file_path = Path('budget_data.csv')

budget_data = pd.read_csv('budget_data.csv')

In [77]:
budget_data.head(5)

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [78]:
budget_data

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [79]:
# calculate the total number of months included in the dataset

total_months = len(budget_data)
total_months

86

In [80]:
budget_data.columns

# just checking the actual text of the header to copy and paste from here

Index(['Date', 'Profit/Losses'], dtype='object')

In [81]:
# the net total amount of profit losses over the entire period

profit_loss_sum = budget_data['Profit/Losses'].sum()
print (profit_loss_sum)

38382578

In [90]:
budget_data["Change Per Month"] = budget_data['Profit/Losses'].diff()

budget_data

        Date  Profit/Losses  Change Per Month
0   Jan-2010         867884               NaN
1   Feb-2010         984655          116771.0
2   Mar-2010         322013         -662642.0
3   Apr-2010         -69417         -391430.0
4   May-2010         310503          379920.0
..       ...            ...               ...
81  Oct-2016         102685         -665765.0
82  Nov-2016         795914          693229.0
83  Dec-2016          60988         -734926.0
84  Jan-2017         138230           77242.0
85  Feb-2017         671099          532869.0

[86 rows x 3 columns]

In [91]:
ave_change = change_per_month.mean()
ave_change

-2315.1176470588234

In [92]:
budget_data.head(30)

        Date  Profit/Losses  Change Per Month
0   Jan-2010         867884               NaN
1   Feb-2010         984655          116771.0
2   Mar-2010         322013         -662642.0
3   Apr-2010         -69417         -391430.0
4   May-2010         310503          379920.0
5   Jun-2010         522857          212354.0
6   Jul-2010        1033096          510239.0
7   Aug-2010         604885         -428211.0
8   Sep-2010        -216386         -821271.0
9   Oct-2010         477532          693918.0
10  Nov-2010         893810          416278.0
11  Dec-2010         -80353         -974163.0
12  Jan-2011         779806          860159.0
13  Feb-2011        -335203        -1115009.0
14  Mar-2011         697845         1033048.0
15  Apr-2011         793163           95318.0
16  May-2011         485070         -308093.0
17  Jun-2011         584122           99052.0
18  Jul-2011          62729         -521393.0
19  Aug-2011         668179          605450.0
20  Sep-2011         899906          231727.0
21  Oct-2011         834719          -65187.0
22  Nov-2011         132003         -702716.0
23  Dec-2011         309978          177975.0
24  Jan-2012        -755566        -1065544.0
25  Feb-2012        1170593         1926159.0
26  Mar-2012         252788         -917805.0
27  Apr-2012        1151518          898730.0
28  May-2012         817256         -334262.0
29  Jun-2012         570757         -246499.0

In [95]:
# greatest increase in profits (date and amount) over the entire period
max_line = change_per_month.idxmax()
increase_date = budget_data['Date'][max_line]
greatest_increase = budget_data['Change Per Month'][max_line]

print (greatest_increase, date)

1926159.0 Feb-2012

In [96]:
max_line

25

In [98]:
# The greatest decrease in losses (date and amount) over the entire period.

min_line = change_per_month.idxmin()
decrease_date = budget_data['Date'][min_line]
greatest_decrease = budget_data['Change Per Month'][min_line]

print (greatest_decrease, date)

-2196167.0 Feb-2012

In [99]:
#Print variables


print("----------------------------------------------------------")
print("Financial Analysis")
print("----------------------------------------------------------")
print("Total Months: " + str(total_months))
print("Total Profits: " + "$" + str(profit_loss_sum))
print("Average Change: " + "$" + str(int(ave_change)))
print("Greatest Increase in Profits: " + str(increase_date) + " ($" + str(greatest_increase) + ")")
print("Greatest Decrease in Profits: " + str(decrease_date) + " ($" + str(greatest_decrease)+ ")")
print("----------------------------------------------------------")

----------------------------------------------------------
Financial Analysis
----------------------------------------------------------
Total Months: 86
Total Profits: $38382578
Average Change: $-2315
Greatest Increase in Profits: Feb-2012 ($1926159.0)
Greatest Decrease in Profits: Sep-2013 ($-2196167.0)
----------------------------------------------------------

In [ ]:
f = open('Analysis', 'w')
f.write("----------------------------------------------------------")
f.write("Financial Analysis")
f.write("----------------------------------------------------------")
f.write("Total Months: " + str(total_months))
f.write("Total Profits: " + "$" + str(profit_loss_sum))
f.write("Average Change: " + "$" + str(int(ave_change)))
f.write("Greatest Increase in Profits: " + str(increase_date) + " ($" + str(greatest_increase) + ")")
f.write("Greatest Decrease in Profits: " + str(decrease_date) + " ($" + str(greatest_decrease)+ ")")
f.write("----------------------------------------------------------")
f.close()