In [63]:
import pandas as pd
from pathlib import Path
%matplotlib inline

file_path = Path('budget_data.csv')

budget_data = pd.read_csv('budget_data.csv')

In [49]:
budget_data.head(5)

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [72]:
# calculate the total number of months included in the dataset

len(pnl)

86

In [71]:
# the net total amount of profit losses over the entire period

sum(budget_data.iloc[:,-1].head())


# ORRRRRR
#profit_loss=(budget_data.iloc[:,-1].head())

#print("Sum of all numbers:")
#sum = 0
#for number in profit_loss:
#    sum += number
#print(sum)

2415638

In [60]:
budget_data.columns

Index(['Date', 'Profit/Losses'], dtype='object')

In [75]:
# the average of the changes in profit/losses over the entire period
# initialize metric variables
count = 0
total = 0
average = 0
minimum = 0
maximum = 0

#initialize lists to hold profitable days versus not profitable days
profitable_days = []
unprofitable_days = []

#define the list of trading pnl
pnl = pd.read_csv("budget_data.csv", index_col ="Profit/Losses")

#change in profit loss
for day_pnl in pnl:
    total += day_pnl
    count += 1


#average of change
average = round(total / count, 2)

TypeError: unsupported operand type(s) for +=: 'int' and 'str'

In [ ]:
# greatest increase in profits (date and amount) over the entire period
# The greatest decrease in losses (date and amount) over the entire period.

if minimum == 0:
        minimum = day_pnl
    elif day_pnl < minimum:
        minimum = day_pnl
    elif day_pnl > maximum:
        maximum = day_pnl